


html
{
    height: 100%; 
}

/* CSS Cabeçalho - Início */

body, ul, li, p 
{ 
    
    margin: 0px;
    padding: 0px; 
    font-size: 1rem; 
     
}



.pree-footer{
     
     display: grid; 
    grid-template-columns: repeat(3, 1fr); /* dividimos as imagens do grid em colunas com linhas na horizontal e vertical */
    grid-gap: 20px; /* espaço ed 20px entre os ícones do grid */
    max-width: 800px; /* largura máxima de 800 px entre os itens */
    margin: 0 auto; /* margem automática */
    padding: 10px;
    

}



.footer { /* rodapé */
    
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
    margin-left: 10px; 
}


.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; 
    margin: 0 auto; 
}






