


html
{
    height: 100%; 
}

/* CSS Cabeçalho - Início */

body, ul, li, p 
{ 
    
    margin: 0px;
    padding: 0px; 
    font-size: 1rem; 
     
}



#pre-footer{
     color: white;
}



.footer { /* rodapé */
    
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
    margin-left: 10px; 
}


.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px; 
    margin: 0 auto; 
}






